* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

header {
    width: 100%;

    nav {
        height: 100px;
        width: inherit;
        border-bottom: 2px dotted grey;
        display: flex;
        align-items: center;
        justify-content: space-around;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;
            list-style: none;
            font-family: poppins, sans-serif, Arial, Helvetica;

            li {
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: #333;
                    text-decoration: none;
                    transition: color 0.3s ease-in;
                }

                .active {
                    color: grey;
                }

                a:hover {
                    color: grey;
                }
            }
        }
    }
}